# Specific files and folders to ignore
/user_data/**
/core_libraries/build/**
**.DS_Store**
scripts/codehub/utils/etc/*

# Filetypes to ignore
*.edf
*.nii
*.nii.gz
*.[0-9]
*.pyc

*.mat
*.npy
*.pickle
*.pkl

# Exceptions
!/user_data/README.md
