antropy==0.1.9
astor
asttokens==3.0.0
attrs
bids-validator
bidsschematools
cached-property
certifi==2025.1.31
charset-normalizer==3.4.1
click
colorama
comm==0.2.2
contourpy
cycler
decorator==5.2.1
deprecation==2.1.0
docopt
edfio==0.4.8
EDFlib-Python==1.0.8
executing==2.2.0
filelock
fonttools
fooof
formulaic
frozendict
fsspec
gmpy2
graphlib-backport
greenlet
idna==3.10
./wheels/ieeg-1.6-py3-none-any.whl
importlib_resources
interface_meta
ipython
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
jedi==0.19.2
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyterlab_widgets==3.0.14
kiwisolver
lazy_loader==0.4
lightgbm==4.6.0
llvmlite
lspopt==1.4.0
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mne
mne-bids
mne-icalabel
mpmath
munkres==1.1.4
networkx
neurodsp
nibabel
nltk
num2words
numba
numpy
optree
packaging
pandas
parso==0.8.4
pennprov==2.2.4
pexpect==4.9.0
pillow
pkgutil_resolve_name
platformdirs==4.3.7
pooch==1.8.2
prettytable
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pybids
pybind11
pybind11_global
pyEDFlib==0.1.40
Pygments==2.19.1
pyparsing
pyriemann==0.8
python-dateutil
pytz
PyYAML
referencing
regex
requests==2.32.3
rpds-py
scikit-learn
scipy
seaborn==0.13.2
setuptools==75.8.2
six
sleepecg
SQLAlchemy
stack-data==0.6.3
sympy
tabulate
tensorpac==0.6.5
threadpoolctl
torch
tqdm
traitlets==5.14.3
typing_extensions
tzdata
universal_pathlib
urllib3==2.4.0
wcwidth
widgetsnbextension==4.0.14
wrapt
yasa==0.6.5
zipp
